--
-- PostgreSQL database dump
--

\restrict Ei8jAThfzJZJe4fDrPvyhtnQacrYZRZVp52pnpmw5x50ngmv7dfTNlNcNnWnKiZ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ExerciseDifficulty; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ExerciseDifficulty" AS ENUM (
    'BEGINNER',
    'INTERMEDIATE',
    'ADVANCED'
);


ALTER TYPE public."ExerciseDifficulty" OWNER TO postgres;

--
-- Name: SubscriptionPlan; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionPlan" AS ENUM (
    'BASIC',
    'PRO',
    'ELITE'
);


ALTER TYPE public."SubscriptionPlan" OWNER TO postgres;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'EXPIRED',
    'CANCELLED',
    'PENDING'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'TRAINER',
    'CLIENT',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

--
-- Name: WorkoutDayStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WorkoutDayStatus" AS ENUM (
    'COMPLETED',
    'PARTIALLY_COMPLETED',
    'MISSED',
    'REST_DAY'
);


ALTER TYPE public."WorkoutDayStatus" OWNER TO postgres;

--
-- Name: WorkoutDifficulty; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WorkoutDifficulty" AS ENUM (
    'BEGINNER',
    'INTERMEDIATE',
    'ADVANCED'
);


ALTER TYPE public."WorkoutDifficulty" OWNER TO postgres;

--
-- Name: WorkoutProgramStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WorkoutProgramStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'PAUSED',
    'CANCELLED'
);


ALTER TYPE public."WorkoutProgramStatus" OWNER TO postgres;

--
-- Name: WorkoutStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."WorkoutStatus" AS ENUM (
    'SCHEDULED',
    'IN_PROGRESS',
    'COMPLETED',
    'MISSED',
    'CANCELLED'
);


ALTER TYPE public."WorkoutStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO postgres;

--
-- Name: Client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Client" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "trainerId" text,
    goals text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "subscriptionEnd" timestamp(3) without time zone,
    "subscriptionPlan" public."SubscriptionPlan",
    "subscriptionStart" timestamp(3) without time zone,
    "subscriptionStatus" public."SubscriptionStatus" DEFAULT 'INACTIVE'::public."SubscriptionStatus" NOT NULL
);


ALTER TABLE public."Client" OWNER TO postgres;

--
-- Name: ClientWorkout; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClientWorkout" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "workoutId" text NOT NULL,
    "scheduledDate" timestamp(3) without time zone NOT NULL,
    "completedAt" timestamp(3) without time zone,
    status public."WorkoutStatus" DEFAULT 'SCHEDULED'::public."WorkoutStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ClientWorkout" OWNER TO postgres;

--
-- Name: ClientWorkoutProgram; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClientWorkoutProgram" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "programId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "currentDay" integer DEFAULT 1 NOT NULL,
    status public."WorkoutProgramStatus" DEFAULT 'ACTIVE'::public."WorkoutProgramStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ClientWorkoutProgram" OWNER TO postgres;

--
-- Name: Exercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Exercise" (
    id text NOT NULL,
    name text NOT NULL,
    category text NOT NULL,
    description text,
    "muscleGroups" text[],
    equipment text[],
    difficulty public."ExerciseDifficulty" NOT NULL,
    instructions text,
    "videoUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Exercise" OWNER TO postgres;

--
-- Name: ProgramDayAssignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProgramDayAssignment" (
    id text NOT NULL,
    "clientWorkoutProgramId" text NOT NULL,
    "dayNumber" integer NOT NULL,
    "scheduledDate" timestamp(3) without time zone NOT NULL,
    status public."WorkoutStatus" DEFAULT 'SCHEDULED'::public."WorkoutStatus" NOT NULL,
    notes text,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProgramDayAssignment" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."UserRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "trainerId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO postgres;

--
-- Name: Workout; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Workout" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    category text,
    difficulty public."WorkoutDifficulty",
    "estimatedDuration" integer,
    "isPublic" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "creatorId" text NOT NULL
);


ALTER TABLE public."Workout" OWNER TO postgres;

--
-- Name: WorkoutDay; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutDay" (
    id text NOT NULL,
    "programId" text NOT NULL,
    "dayNumber" integer NOT NULL,
    name text,
    "isRestDay" boolean DEFAULT false NOT NULL,
    "estimatedDuration" integer,
    notes text
);


ALTER TABLE public."WorkoutDay" OWNER TO postgres;

--
-- Name: WorkoutDayExercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutDayExercise" (
    id text NOT NULL,
    "dayId" text NOT NULL,
    "exerciseId" text NOT NULL,
    "order" integer NOT NULL,
    sets integer NOT NULL,
    reps text NOT NULL,
    rest text NOT NULL,
    notes text
);


ALTER TABLE public."WorkoutDayExercise" OWNER TO postgres;

--
-- Name: WorkoutDayProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutDayProgress" (
    id text NOT NULL,
    "clientWorkoutProgramId" text NOT NULL,
    "dayNumber" integer NOT NULL,
    "completedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."WorkoutDayStatus" DEFAULT 'COMPLETED'::public."WorkoutDayStatus" NOT NULL,
    notes text
);


ALTER TABLE public."WorkoutDayProgress" OWNER TO postgres;

--
-- Name: WorkoutExercise; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutExercise" (
    id text NOT NULL,
    "workoutId" text NOT NULL,
    "exerciseId" text NOT NULL,
    "order" integer NOT NULL,
    sets integer NOT NULL,
    reps text NOT NULL,
    rest text NOT NULL,
    notes text
);


ALTER TABLE public."WorkoutExercise" OWNER TO postgres;

--
-- Name: WorkoutProgram; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutProgram" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    category text,
    difficulty public."WorkoutDifficulty",
    "totalDays" integer DEFAULT 7 NOT NULL,
    "isPublic" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "creatorId" text NOT NULL
);


ALTER TABLE public."WorkoutProgram" OWNER TO postgres;

--
-- Name: WorkoutProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorkoutProgress" (
    id text NOT NULL,
    "clientWorkoutId" text NOT NULL,
    "exerciseId" text NOT NULL,
    sets integer NOT NULL,
    reps text NOT NULL,
    weight double precision,
    "time" integer,
    distance double precision,
    notes text,
    "completedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."WorkoutProgress" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Account" (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ClientWorkout; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ClientWorkoutProgram; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClientWorkoutProgram" (id, "clientId", "programId", "startDate", "currentDay", status, notes, "createdAt", "updatedAt") FROM stdin;
cmewp051o000j7miov95rvmg5	cmesp1jhw00077m30jqwhr9q2	cmewozl8100027mio6xagchrw	2025-09-01 00:00:00	1	ACTIVE	Assigned "Walls balls 5 Days" (5 days) to David Kim starting 9/1/2025	2025-08-29 10:31:17.389	2025-08-29 10:31:17.389
\.


--
-- Data for Name: Exercise; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ProgramDayAssignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProgramDayAssignment" (id, "clientWorkoutProgramId", "dayNumber", "scheduledDate", status, notes, "completedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: Workout; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkoutDay; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkoutDayExercise; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkoutDayProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WorkoutDayProgress" (id, "clientWorkoutProgramId", "dayNumber", "completedAt", status, notes) FROM stdin;
\.


--
-- Data for Name: WorkoutExercise; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkoutProgram; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorkoutProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WorkoutProgress" (id, "clientWorkoutId", "exerciseId", sets, reps, weight, "time", distance, notes, "completedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
696d96f4-d285-492b-9148-651cf80666db	eadd4ea27d803459c4fe4fa830c4a1dae81dfebf3f1c335c5f1f60d5f8232894	2025-08-22 15:44:26.321851+08	20250822074426_init	\N	\N	2025-08-22 15:44:26.199368+08	1
559b6e32-1c8b-4694-baa3-890b5009e9e1	e01101993aa521aa8b3390e3ac229aaca6f1c8b686228b2fb24189ad4592a974	2025-08-24 00:20:35.07057+08	20250823162034_add_program_day_assignments	\N	\N	2025-08-24 00:20:35.000402+08	1
\.


--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: ClientWorkoutProgram ClientWorkoutProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkoutProgram"
    ADD CONSTRAINT "ClientWorkoutProgram_pkey" PRIMARY KEY (id);


--
-- Name: ClientWorkout ClientWorkout_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkout"
    ADD CONSTRAINT "ClientWorkout_pkey" PRIMARY KEY (id);


--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: Exercise Exercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Exercise"
    ADD CONSTRAINT "Exercise_pkey" PRIMARY KEY (id);


--
-- Name: ProgramDayAssignment ProgramDayAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProgramDayAssignment"
    ADD CONSTRAINT "ProgramDayAssignment_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutDayExercise WorkoutDayExercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDayExercise"
    ADD CONSTRAINT "WorkoutDayExercise_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutDayProgress WorkoutDayProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDayProgress"
    ADD CONSTRAINT "WorkoutDayProgress_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutDay WorkoutDay_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDay"
    ADD CONSTRAINT "WorkoutDay_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutExercise WorkoutExercise_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutExercise"
    ADD CONSTRAINT "WorkoutExercise_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutProgram WorkoutProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutProgram"
    ADD CONSTRAINT "WorkoutProgram_pkey" PRIMARY KEY (id);


--
-- Name: WorkoutProgress WorkoutProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutProgress"
    ADD CONSTRAINT "WorkoutProgress_pkey" PRIMARY KEY (id);


--
-- Name: Workout Workout_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Workout"
    ADD CONSTRAINT "Workout_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: Client_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Client_userId_key" ON public."Client" USING btree ("userId");


--
-- Name: ProgramDayAssignment_clientWorkoutProgramId_dayNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ProgramDayAssignment_clientWorkoutProgramId_dayNumber_key" ON public."ProgramDayAssignment" USING btree ("clientWorkoutProgramId", "dayNumber");


--
-- Name: Session_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Session_sessionToken_key" ON public."Session" USING btree ("sessionToken");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: WorkoutDayExercise_dayId_exerciseId_order_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WorkoutDayExercise_dayId_exerciseId_order_key" ON public."WorkoutDayExercise" USING btree ("dayId", "exerciseId", "order");


--
-- Name: WorkoutDay_programId_dayNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WorkoutDay_programId_dayNumber_key" ON public."WorkoutDay" USING btree ("programId", "dayNumber");


--
-- Name: WorkoutExercise_workoutId_exerciseId_order_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "WorkoutExercise_workoutId_exerciseId_order_key" ON public."WorkoutExercise" USING btree ("workoutId", "exerciseId", "order");


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClientWorkoutProgram ClientWorkoutProgram_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkoutProgram"
    ADD CONSTRAINT "ClientWorkoutProgram_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClientWorkoutProgram ClientWorkoutProgram_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkoutProgram"
    ADD CONSTRAINT "ClientWorkoutProgram_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."WorkoutProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClientWorkout ClientWorkout_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkout"
    ADD CONSTRAINT "ClientWorkout_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClientWorkout ClientWorkout_workoutId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientWorkout"
    ADD CONSTRAINT "ClientWorkout_workoutId_fkey" FOREIGN KEY ("workoutId") REFERENCES public."Workout"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Client Client_trainerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_trainerId_fkey" FOREIGN KEY ("trainerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Client Client_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProgramDayAssignment ProgramDayAssignment_clientWorkoutProgramId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProgramDayAssignment"
    ADD CONSTRAINT "ProgramDayAssignment_clientWorkoutProgramId_fkey" FOREIGN KEY ("clientWorkoutProgramId") REFERENCES public."ClientWorkoutProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: User User_trainerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_trainerId_fkey" FOREIGN KEY ("trainerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: WorkoutDayExercise WorkoutDayExercise_dayId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDayExercise"
    ADD CONSTRAINT "WorkoutDayExercise_dayId_fkey" FOREIGN KEY ("dayId") REFERENCES public."WorkoutDay"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutDayExercise WorkoutDayExercise_exerciseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDayExercise"
    ADD CONSTRAINT "WorkoutDayExercise_exerciseId_fkey" FOREIGN KEY ("exerciseId") REFERENCES public."Exercise"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutDayProgress WorkoutDayProgress_clientWorkoutProgramId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDayProgress"
    ADD CONSTRAINT "WorkoutDayProgress_clientWorkoutProgramId_fkey" FOREIGN KEY ("clientWorkoutProgramId") REFERENCES public."ClientWorkoutProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutDay WorkoutDay_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutDay"
    ADD CONSTRAINT "WorkoutDay_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."WorkoutProgram"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutExercise WorkoutExercise_exerciseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutExercise"
    ADD CONSTRAINT "WorkoutExercise_exerciseId_fkey" FOREIGN KEY ("exerciseId") REFERENCES public."Exercise"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutExercise WorkoutExercise_workoutId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutExercise"
    ADD CONSTRAINT "WorkoutExercise_workoutId_fkey" FOREIGN KEY ("workoutId") REFERENCES public."Workout"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutProgram WorkoutProgram_creatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutProgram"
    ADD CONSTRAINT "WorkoutProgram_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: WorkoutProgress WorkoutProgress_clientWorkoutId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutProgress"
    ADD CONSTRAINT "WorkoutProgress_clientWorkoutId_fkey" FOREIGN KEY ("clientWorkoutId") REFERENCES public."ClientWorkout"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: WorkoutProgress WorkoutProgress_exerciseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorkoutProgress"
    ADD CONSTRAINT "WorkoutProgress_exerciseId_fkey" FOREIGN KEY ("exerciseId") REFERENCES public."Exercise"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Workout Workout_creatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Workout"
    ADD CONSTRAINT "Workout_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Ei8jAThfzJZJe4fDrPvyhtnQacrYZRZVp52pnpmw5x50ngmv7dfTNlNcNnWnKiZ

